[Unit]
Description=Run Lets Encrypt renewal daily and at startup
After=unifi.service unifi-core.service
[Timer]
OnStartupSec=300
OnCalendar=*-*-* 03:00:00
RandomizedDelaySec=300
[Install]
WantedBy=timers.target